aniso8601==3.0.0
chardet==2.3.0
click==6.7
command-not-found==0.3
Flask==0.12.2
Flask-OAuth==0.12
flask-restplus==0.10.1
httplib2==0.11.3
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
language-selector==0.1
MarkupSafe==1.0
oauth2==1.9.0.post1
pygobject==3.20.0
python-apt==1.1.0b1+ubuntu0.16.4.1
pytz==2018.4
requests==2.9.1
simplejson==3.10.0
six==1.10.0
SQLAlchemy==1.2.7
ssh-import-id==5.5
ufw==0.35
urllib3==1.13.1
virtualenv==15.1.0
Werkzeug==0.15.3
